.cart {
  &__flex {
    justify-content: space-between;
    align-items: start;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      gap: 20px;
      justify-content: start;
      align-items: center;
    }
  }
}
