@import '../../utils/styles/globals.scss';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__nav {
    background-color: map-get($colors, primary);
    align-self: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    opacity: 0.95;
    background-image: url('../../../public/header.svg');
    background-repeat: repeat;
    background-size: 300px 300px;

    &--container {
      height: 100px;
      max-width: 1440px;
      margin: 0 auto;
    }

    &--link {
      color: map-get($colors, white);
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 100%;
      padding: 0 30px;
      text-decoration: none;
      font-weight: bold;
      transition: background-color 0.3s ease, transform 0.1s ease;

      &:active {
        transform: scale(0.98);
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &--links {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &--burger {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        margin-right: 10px;
        color: map-get($colors, white);
        font-size: 30px;
        border: none;
        background: none;
        cursor: pointer;
      }
    }

    &--logo {
      height: 80px;
      width: 80px;
      object-fit: fill;
      margin: 10px;
      border-radius: 10rem;
    }
  }
  &__content {
    flex: 1;
    padding: 20px;
    display: flex;

    @media screen and (max-width: 425px) {
      padding: 10px;
    }

    &--container {
      max-width: 1440px;
      margin: 0 auto;
      flex: 1;
    }
  }
  &__title {
    color: map-get($colors, white) !important;
    margin: 0px !important;
  }

  &__footer {
    background-color: map-get($colors, secondary);
    opacity: 0.7;
    color: map-get($colors, white);

    &--container {
      padding: 20px;
      max-width: 1440px;
      margin: 0 auto;
      flex-wrap: wrap;
      color: map-get($colors, white);
    }
    &--info {
      color: map-get($colors, white) !important;
    }
  }
}
