.cart-product {
  position: relative;

  &__image {
    width: 100px;
    object-fit: cover;
    border-radius: 8px;

    @media screen and (max-width: 425px) {
      width: 50px;
    }
  }

  &__container {
    gap: 20px;

    @media screen and (max-width: 425px) {
      gap: 10px;
    }
  }

  &__meta {
    text-align: left;
  }

  &__quantity {
    font-size: 20px;
  }
  &__checkbox {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}
